project:
  type: website
  output-dir: docs
  render: 
    - "*.qmd"
    - "!/labs/student/"
    - "!/videos/"
    - "!/group-activities/group-formation"
    - "!/portfolio/midterm-portfolio-checklist.docx"

resources:
  - student/lab-1-student.qmd

website:
  page-navigation: true
  title: "Introduction to Statistical Computing in R"
  description: "Homepage for STAT 331 at Cal Poly"
  site-url: "https://github.com/atheobold/groupworthy-data-science"
  repo-url: https://github.com/atheobold/groupworthy-data-science
  repo-actions: [issue]

  page-footer:
    right: "This page is built with ❤️ and [Quarto](https://quarto.org/)."
    left: "&copy; Copyright 2024, Allison Theobold & Judith Canner"
    background: "#c896ff"
    
  favicon: "images/stat-331-hex.png"

  navbar:
    pinned: true
    background: "#c896ff"
    right:
      - href: course-materials/calendar.qmd
        text: Schedule
      - href: course-materials/syllabus.qmd
        text: Syllabus
      - href: portfolio/portfolio-instructions.qmd
        text: Portfolio
      - href: course-materials/course-resources.qmd
        text: Resources
      # - href: labs/exemplars/student-work.qmd
      #   text: "Exemplary Student Work"

format:
  html:
    theme:
      - united
      - style/stat331.scss
    mainfont: "Atkinson Hyperlegible"
    # highlight-style: monokai
    code-copy: true
    code-overflow: wrap
    toc: true

editor: visual